<div class= "container">
  <form #Form="ngForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Full Name</label>
      <input type="name" class="form-control" name= "name"  aria-describedby="name" [(ngModel)]="UserObj.name" required>
      
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Mobile Number</label>
      <input type="mobile" class="form-control" name= "mobile"  aria-describedby="mobile" [(ngModel)]="UserObj.mobile"  required>
      
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" name= "email"  aria-describedby="email" [(ngModel)]="UserObj.email" required>
      
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name= "password" [(ngModel)]="UserObj.password" required> 
    </div>
    
    <button type="button" class="btn btn-primary"(click)="addUser(Form.value)"
      *ngIf="!isEdit" [disabled]="!Form.valid">Submit</button>
    <button type="button" class="btn btn-info" *ngIf="isEdit" (click)="updateUser()">Update</button>
  </form>
<br>
<table class="table">
  <thead>
    <tr>
     
      <th scope="col">Full Name</th>
      <th scope="col">Mobile</th>
      <th scope="col">Email</th>
      <th scope="col">Password</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
   <tr *ngFor="let user of allUser">
     <td>{{user.name}}</td>
     <td>{{user.mobile}}</td>
     <td>{{user.email}}</td>
     <td>{{user.password}}</td>
     <td><button (click)="editUser(user)" class="btn btn-warning">Edit</button></td>
     <td><button (click)="deleteUser(user)"class="btn btn-danger">Delete</button></td>


   </tr> 
  </tbody>

  <a routerLink="user" >User</a>
  <br>
  <a routerLink="details" routerLinkActive= "active">Details</a>

</table>

</div>
<app-user [userPost]= "allUser"(passedEvent)="userEvent()"></app-user>
<router-outlet></router-outlet>